@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$spring-green: #00e900;
$primary-background: #131920;
$eerie-black: #242d39;
$onyx: #1b232d;
$anti-flash-white: #ededed;
$inter: "Inter", sans-serif;
$montserrat: "Montserrat", sans-serif;