@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$spring-green: #32ff6a;
$midnight-green: #0f3d3e;
$eerie-black: #1a1a1a;
$onyx: #3d3d3d;
$anti-flash-white: #ededed;
$inter: "Inter", sans-serif;
$montserrat: "Montserrat", sans-serif;