@use '../abstract/variables';


.main-calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

#calculadora {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.title-calc {
    color: variables.$anti-flash-white;
    font-size: 2rem;
    font-family: variables.$inter;
    font-weight: bold;
    line-height: normal;
}

.calc {
    display: flex;
    flex-direction: column;
    background-color: variables.$card;
    border: 1px solid rgb(43, 47, 59, 0.5);
    border-radius: 8px;
    height: 35rem;
    padding: 1.3rem;
    gap: 20px;
    width: 33rem;
}

.inputs-calc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid gray;
    border-radius: 8px;


    
    
}

label {
    color: variables.$primary;
    font-family: variables.$inter;
    font-weight: 600;
    font-size: 0.8rem;
}

.input-calc {
    border: 1px solid rgb(43, 47, 59, 0.5);
    border-radius: 0.3rem;
    background-color: rgb(34, 37, 47, 0.5);
    color: variables.$foreground;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    /* remove o padrão */
    transition: box-shadow 0.2s ease;

    &:focus {
        box-shadow:
            0 0 0 2px variables.$eerie-black,
            /* espaço branco (ou cor do fundo da página) */
            0 0 0 5px variables.$primary;
    }


}

.result-calc {
    background-color: variables.$onyx;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid gray;
    border-radius: 8px;
    gap: 15px;
}

.title-result {
    display: flex;
    align-items: center;
    gap: 10px;
    color: variables.$foreground;
    font-family: variables.$inter;
    font-weight: 600;
    font-size: 1.2rem;
}

.container-result {
    display: flex;
    padding: 1.6rem;
    background-color: rgb(34, 37, 47, 0.5);
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid rgb(43, 47, 59, 0.5);
    font-family: variables.$inter;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.aposta-text {
    color: variables.$text;
    font-size: 0.9rem;
}

.aposta,
.valor {
    color: variables.$primary;
}

.valor {
    font-size: 1.2rem;
    font-weight: bold;
}

.aposta {
    font-weight: 500;
}

hr {
    background-color: rgb(43, 47, 59, 0.5);
    width: 100%;
    border: none;
    height: 1px;
}

.container-text-sec {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 37, 47, 0.5);
    border-radius: 8px;
    font-family: variables.$inter;
    padding: 1rem;


}

.text-sec {
    color: variables.$text;
    font-weight: 400;
}

.text-sec-value {
    color: variables.$foreground;
    font-weight: bold;
}

.container-text-sec-lucro {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    border-radius: 8px;
    background: variables.$gradient-primary;

    .valor-lucro {
        color: variables.$background;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .text-lucro {
        color: variables.$background;
        font-weight: 500;
    }
}