@use '../abstract/variables';

.header {
    display: flex;
    flex-direction: row;
    background-color: variables.$eerie-black;
    
    align-items: center;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    
    div {
        display: flex;
        gap: 0.8rem;

        .title-info {
            font-size: 1.5rem;
            color: variables.$spring-green;
            font-family: variables.$inter;
            font-weight: bold;
        }
    
    
        .info {
            color: variables.$anti-flash-white;
            font-family: variables.$inter;
            font-size: 0.8rem;
        }
    
        .container-infos {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }
    
        .img-profile {
            border-radius: 50%;
            margin-left: 0.5rem;
            background-color: variables.$anti-flash-white;
            height: 48px;
            width: 48px;
        }
    }

    .btn-header {
        border: none;
        background-color: transparent;
        margin-right: 2rem;
    }

}


