@use '../abstract/variables';

.header {
    display: flex;
    flex-direction: row;
    background-color: variables.$card;
    border-bottom: 1px solid variables.$border;
    
    align-items: center;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;

    .img-logo {
        background: variables.$gradient-primary;
    }

    .header-right {
        display: flex;
        gap: 32px;
    }
    
    div {
        display: flex;
        gap: 0.8rem;

        .title-info {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 1.5rem;
            color: variables.$primary;
            font-family: variables.$inter;
            font-weight: bold;
        }
    
    
        .info {
            color: variables.$text;
            font-family: variables.$inter;
            font-size: 0.8rem;
        }
    
        .container-infos {
            display: flex;
            align-items: center;
            line-height: normal;
            gap: 0.4rem;
        }
    
        .img-profile {
            border-radius: 50%;
            margin-left: 0.5rem;
            background-color: variables.$anti-flash-white;
            height: 48px;
            width: 48px;
        }
    }

    .btn-header {
        border: none;
        background-color: transparent;
        margin-right: 2rem;
    }

    .btn-header-locals {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        border: none;
        background-color: transparent;
        font-family: variables.$inter;
        color: variables.$text;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
            color: variables.$foreground;
        }
    }

    .icon-btn {
        height: 14px;
        width: 14px;
    }
}


