@use '../abstract/variables';

.container-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 21.5rem;
    background-color: variables.$card;
    border-radius: 8px;
    border: 1px solid rgb(43, 47, 59, 0.5);
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

thead {
    background-color: transparent;
}

th {
    padding: 0.75rem;
    text-align: center;
    color: variables.$text;
    font-family: variables.$inter;
    font-weight: 600;
    font-size: 0.9rem;
}

td {
    padding: 0.75rem;
    text-align: center;
    color: variables.$foreground;
    font-family: variables.$inter;
}

#body-table {
    width: 100%;
    gap: 8px;
}

tbody tr:hover {
    background-color: #006d05;

}

tbody tr:hover td {
    color: variables.$spring-green;
}

.pages {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-pages {
    border: none;
    background-color: #006d05;
    text-align: center;
    color: variables.$primary;
    border-radius: 8px;
    font-size: 1rem;
    line-height: normal;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
}


#text-pages {
    display: flex;
    font-family: variables.$inter;
    font-weight: bold;
    color: variables.$anti-flash-white;
    width: auto;
}

#btn-right {
    margin-right: 1rem;
}

.text-table {
    padding-bottom: 20px;
    color: variables.$anti-flash-white;
    font-family: variables.$inter;
    font-size: 0.9rem;
}

.my-swal-text {
    font-family: variables.$inter;
    font-size: 1.2rem;
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: variables.$gradient-primary;
    color: variables.$foreground;
    font-size: 24px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    /* Centraliza o ícone */
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Fica acima de outros elementos */
    text-decoration: none;
    height: 60px;

}