@use '../abstract/variables';

.container-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 21.5rem;
    background-color: variables.$eerie-black;
    border-radius: 16px;
    border: 1px solid gray;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

thead {
    background-color: variables.$onyx;
}

th {
    padding: 0.75rem;
    text-align: center;
    color: variables.$anti-flash-white;
    font-family: variables.$inter;
    font-weight: bold;
}

td {
    padding: 0.75rem;
    text-align: center;
    color: variables.$anti-flash-white;
    font-family: variables.$inter;
}

tbody {
    gap: 8px;
}

tbody tr:hover {
    background-color: #006d05;
   
}

tbody tr:hover td {
   color: variables.$spring-green;
}

.pages {
    display: flex;
    align-items: center;
    width: 10rem;
}

.btn-pages {
    border: none;
    background-color: transparent;
    text-align: center;
    color: #00e900;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.6rem;
}

#btn-right {
    margin-right: 2rem;
}

#text-pages {
    display: flex;
    font-family: variables.$inter;
    font-weight: bold;
    color: variables.$anti-flash-white;
    width: auto;
}

.text-table {
    padding-bottom: 20px;
    color: variables.$anti-flash-white;
    font-family: variables.$inter;
}

.my-swal-text {
  font-family: variables.$inter;
  font-size: 1.2rem;
}