@use '../abstract/variables';

.main-login {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title-login {
    color: variables.$spring-green;
}

.container-text-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    gap: 2rem;
}

#form-login {
    background-color: variables.$anti-flash-white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem; // 50px
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: variables.$inter;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 2.25rem; // 36px
    margin-top: 1rem; // 16px
    gap: 0.375rem; // 6px

    img {
        width: 2.25rem; // 36px
        height: 2.25rem; // 36px
    }
}

.input-login {
    width: 30rem;
    padding: 0.8rem;
}

.btn-login {
    width: 31.5rem;
    padding: 0.8rem;
}

.container-forgot-password {
    display: flex;
    justify-content: space-between;
}

.container-checkbox {
    display: flex;
    align-items: center;

    p {
        font-size: 0.8rem;
        font-family: variables.$montserrat;
    }
}

.swal2-container {
  z-index: 99999 !important;
}


#form-forgot {
    display: none;
    position: fixed;
    background-color: variables.$card;
    z-index: 9990;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // Centraliza o elemento
    width: 30vw;
    height: 50vh;
    border-radius: 1rem;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.container-input-forgot {
    display: flex;
    flex-direction: column;
    color: variables.$anti-flash-white;
    gap: 0.2rem
}

.header-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x {
    border: none;
    background-color: transparent;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    color: variables.$anti-flash-white;
    font-weight: bold;

    &:hover {
        background-color: rgb(230, 49, 49);
    }
}

.title-forgot {
    color: variables.$spring-green;
    font-family: variables.$inter;
    font-weight: bold;
    font-size: 1.2rem;
}

.label-forgot {
    color: variables.$anti-flash-white;
}

.input-forgot {
    border-radius: 8px;
    padding: 0.5rem;
    color: variables.$anti-flash-white;
    font-family: variables.$inter;
    border: 1px solid variables.$border;
    background-color: transparent;

    &:focus {
        outline-color: variables.$primary;
        outline-style: double;
    }
}

.btn-submit-forgot {
    padding: 5px;
    font-family: variables.$inter;
    font-weight: bold;
    color: variables.$anti-flash-white;
    border: 2px solid variables.$border;
    background-color: transparent;
    border-radius: 8px;

    &:hover {
        background-color: variables.$muted;
    }
}