@use '../abstract/variables';

@media (max-width: 450px) {
    input {
        font-size: 16px;
    }
    
    .main-login {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .title-form-login {
        font-size: 2.6rem;
    }

    .container-text-login {
        display: none;
    }

    #form-login {
        background-color: variables.$background;
        margin-bottom: 2rem;
    }

    .text-form-login,
    .container-input-login .label-input,
    .placeholder-login-login,
    .container-checkbox p {
        color: white;
    }

    .icon {
        display: none;
    }

    .container-btn {
        width: 90%;
    }

    #btn-form-login {
        font-size: 1.2rem;
        width: 100%;
    }

    .label-forgot {
        font-size: 1rem;
    }

    .input {
        width: 100%;
    }

    .container-input-forgot {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .container-input-login {
        width: 90%;
    }

    .input-login {
        background-color: transparent;
        border: 2px solid variables.$muted;
        width: 100%;
        color: variables.$anti-flash-white;

        &:focus {
            outline: none;
        }
    }

    #form-forgot {
        width: 70vw;
        height: auto;
    }
}