@use '../abstract/variables';

@media (max-width: 450px) {
    .body-cadastro {
        overflow-y: auto;
    }

    .main {
        flex-direction: column;
    }

    #form {
        margin-bottom: 2rem;
    }

    #left-container {
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .text-landing {
        width: 88%;
    }

    #btn-form {
        font-size: 1.2rem;
        width: 110%;
    }

    .title-form .icon {
        display: none;
    }

    .label-input {
        font-size: 1rem;
    }

    .text-form {
        font-size: 1rem;
    }

    .placeholder-login, .placeholder-link {
        font-size: 0.9rem;
    }
}