@use '../abstract/variables';

.container-stats {
    display: flex;
    background-color: variables.$card;
    justify-content: space-between;
    border: 0.0625rem solid rgb(43, 47, 59, 0.5);
    padding: 1.6rem;
    align-items: center;
    border-radius: 0.5rem; // 8px
    gap: 2rem;
    width: 23.5%;
}

.title-cards-stats {
    color: variables.$text;
    font-family: variables.$inter;
    font-size: 0.9rem;
    font-weight: 600;
}

.container-icon {
    display: flex;
    width: 3rem; // 48px
    height: 3rem;
    background-color: variables.$primary;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem; // 8px
}

.container-sec-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.img-stats {
    width: 1.5rem; // 24px
    height: 1.5rem;
}

.container-cards-stats {
    display: flex;
    border: 0.125rem solid rgb(167, 166, 166); // 2px
    border-radius: 0.625rem; // 10px
    padding: 1.125rem; // 18px
    gap: 1.125rem;
}

.text-stats-info {
    color: variables.$foreground;
    font-family: variables.$inter;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.375rem; // 6px
}

.container-text-stats {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; // 10px
}
