@use '../abstract/variables';

.header {
    display: flex;
    flex-direction: row;
    background-color: variables.$card;
    border-bottom: 1px solid variables.$border;

    align-items: center;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;



}

.container-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px; // espaço entre logo e info
}

.header-left {
    display: flex;
    margin-left: 2rem ;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.container-img-logo {
    display: flex;
    align-items: center;
    background: variables.$gradient-primary;
    padding: 0.4rem;
    border-radius: 10px;
}


.img-logo {
    width: 20px;
    height: 20px;
}

.header-right {
    display: flex;
    gap: 32px;
}


.title-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    color: variables.$primary;
    font-family: variables.$inter;
    font-weight: bold;
}


.info {
    color: variables.$text;
    font-family: variables.$inter;
    font-size: 0.8rem;
    line-height: 0%;
}


.btn-header {
    border: none;
    background-color: transparent;
    margin-right: 2rem;
}

.btn-header-locals {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: transparent;
    font-family: variables.$inter;
    color: variables.$text;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        color: variables.$foreground;
    }
}

.icon-btn {
    height: 14px;
    width: 14px;
}

.logo-surix {
    display: flex;
    align-items: center;
    gap: 10px;

}