@use '../abstract/variables';

.container-stats {
    display: flex;
    background-color: variables.$card;
    justify-content: space-between;
    border: 1px solid rgb(43, 47, 59, 0.5);
    padding: 1.6rem;
    align-items: center;
    border-radius: 8px;
    gap: 2rem;
    width: 23.5%;
}

.title-cards-stats {
    color: variables.$text;
    font-family: variables.$inter;
    font-size: 0.9rem;
    font-weight: 600;
}

.container-icon {
    display: flex;
    width: 48px;
    height: 48px;
    background-color: variables.$primary; /*#006d05;*/
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}


.container-sec-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.img-stats {
    width: 24px;
    height: 24px;
}

.container-cards-stats {
    display: flex;
    border: 2px solid rgb(167, 166, 166);
    border-radius: 10px;
    padding: 18px;
    gap: 18px;
}

.text-stats-info {
    color: variables.$foreground;
    font-family: variables.$inter;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 6px;
}

.container-text-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
}